<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>출격가능?</title>
  </head>
  <body>
    <h1>출격가능 한가요?</h1>
  </body>
</html>
